body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 500;
}
h2{
    font-size: 40px;
}
.my-class1{
    color: #fabc8f;
}
.orange-color{
    color: orange;
}
.fleixable-container {
    display: flex;
    margin-bottom: 150px;
}
.helf-width{
    width: 50%;
    padding-left: 2%;
}
.helf-width img{
    width: 80%;
    padding-left: 2%;
}
.link-btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,blue);
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    border-radius: 10px;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dreem-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 5px 7px 40px grey;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding-left: 10px;
}
.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-emperience{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;


}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);    
    border-image-slice: 1;
}
footer{
    text-align: center;
}